/* iu.datepicker.css */
.iu_datepicker{
	border:1px solid #ccc;
	position: absolute;
	background-color:white;
	z-index: 2;
	font-size: 16px;
	display: none;
	overflow: hidden;
	border-radius: 4px;
}

.iu_datepicker_inline{
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.iu_datepicker i{
	font-style: normal;
}

.iu_datepicker_prev, .iu_datepicker_next{
	position: absolute;
	width: 16px;
	height: 16px;
	z-index: 1;
	top: 2px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	border:1px solid transparent;
	border-radius: 2px;
}

.iu_datepicker_prev:hover, .iu_datepicker_next:hover{
	border-color:#ccc;
}

.iu_datepicker_prev{
	left: 2px;
	background-image: url(../images/datepicker_btn_prev.png);
}

.iu_datepicker_next{
	right: 2px;
	background-image: url(../images/datepicker_btn_next.png);
}

.iu_datepicker_header{
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.iu_datepicker_header, .iu_datepicker_body{
	padding: 2px;
	line-height: 1.44em;
}

.iu_datepicker_year, .iu_datepicker_month{
	position: relative;
	cursor: pointer;
}

.iu_datepicker_month{
	margin-left: 4px;
}

.iu_datepicker_calendars{
	position: relative;
	overflow: hidden;
}

.iu_datepicker_calendars .iu_datepicker_border_left .iu_datepicker_header{
	border-left: 1px solid #ccc;
}

.iu_datepicker_calendars .iu_datepicker_border_left .iu_datepicker_body{
	border-left: 1px solid #ccc;
}

.iu_datepicker_calendar{
	display: inline-block;
	position: relative;
	float: left;
}

.iu_datepicker_calendar .iu_datepicker_body{
	border-collapse: collapse;
	display: block;
}

.iu_datepicker_calendar .iu_datepicker_body td{
	border: none;
	line-height: 1.44em;
}

.iu_datepicker_others .iu_datepicker_body td{
	height: 20px;
}

.iu_datepicker_calendar .iu_datepicker_body td{
	padding: 1px;
	vertical-align: middle;
}

.iu_datepicker_calendar .iu_datepicker_weekend, .iu_datepicker_calendar .iu_datepicker_weekend a{
	color: #bc5016;
}

.iu_datepicker_calendar .iu_datepicker_body a{
	display: block;
	text-align: right;
	cursor: pointer;
	transition-duration: 0.2s;
	transition-property: background-color,color;
}

.iu_datepicker_dateview .iu_datepicker_body a{
	padding: 1px 3px;
}

.iu_datepicker_monthview .iu_datepicker_body a{
	padding: 4px;
	margin: 8px 2px 9px 2px;
	text-align: center;
}

.iu_datepicker_monthview .iu_datepicker_month{
	display: none;
}

.iu_datepicker_yearview .iu_datepicker_body a{
	padding: 2px 4px;
	margin: 4px 0px 5px 0px;
}

.iu_datepicker_yearview .iu_datepicker_year{
	cursor: default;
}

.iu_datepicker_yearview .iu_datepicker_body{
	margin-top: 2px;
}

.iu_datepicker_calendar .iu_datepicker_body a:hover{
	background-color: #666;
	color: white;
}

.iu_datepicker_calendar/* .iu_datepicker_body*/ .iu_datepicker_selected a{
	background-color: green;
	color: white;
}

.iu_datepicker_calendar .iu_datepicker_disabled, .iu_datepicker_calendar .iu_datepicker_disabled a, .iu_datepicker_calendar .iu_datepicker_disabled a:hover{
	cursor: not-allowed;
	background-color: transparent;
	color: #aaa;
}

.iu_datepicker_calendar .iu_datepicker_other a{
	color: #ccc;
}

.iu_datepicker_calendar .iu_datepicker_other.iu_datepicker_disabled a:hover{
	color: #ccc;
}

.iu_datepicker_calendar .iu_datepicker_today a{
	color: blue;
}

.iu_datepicker_calendar/* .iu_datepicker_body*/ .iu_datepicker_selected a{
	background-color: green;
	color: white;
}

.iu_datepicker_calendars .iu_datepicker_thumb{
	position: absolute;
	left: 0;
	top: 42px;
	width: 100%;
	text-align: center;
	font-size: 7em;
	color: #eee;
	z-index: -1;
	line-height: normal;
}

.iu_datepicker_others .iu_datepicker_thumb{
	top: 53px;
}

.iu_datepicker_buttons{
	padding: 4px 0;
	margin: 0 4px;
	border-top: 1px solid #ccc
}

.iu_align_left .iu_datepicker_button:first-child{
	margin-left: 0;
}

.iu_align_right .iu_datepicker_button:last-child{
	margin-right: 0;
}

.iu_datepicker_button{
	display: inline-block;
	margin: 0 8px;
	cursor: pointer;
	text-align: center;
	padding: 4px 6px;
	background-repeat: no-repeat;
	font-size: 14px;
	border-radius: 4px;
}

.iu_datepicker_button, .iu_datepicker_button:hover{
	text-decoration: none;
}

.iu_datepicker_button_text{}

.iu_datepicker_button_0 {
	color: #272727;
	background-color: #B5B5B5;
	border-bottom: 1px solid #3b3b3b;
}
.iu_datepicker_button_0:hover {
	background-color: #949494;
}

.iu_datepicker_button_1 {
	color: #222222;
	background-color: #E2E2E2;
	border-bottom: 1px solid #888888;
}

.iu_datepicker_button_1:hover {
	background-color: #D8D8D8;
}

/* timepicker */
.iu_datepicker_select{
	display: inline-block;
	position: relative;
	height: 24px;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: top;
}
.iu_datepicker_select:nth-child(2){
	margin-left: 4px;
}
.iu_datepicker_hour, .iu_datepicker_minute{
	display: block;
	min-width: 60px;
	padding: 2px 12px 2px 4px;
	cursor: pointer;
}
.iu_datepicker_select_triangle{
	position: absolute;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: black;
	top: 50%;
	margin-top: -2px;
	right: 4px;
}
.iu_datepicker_hours, .iu_datepicker_minutes{
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 28px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	max-height: 188px;
	overflow: auto;
	z-index: 2;
	list-style: inside;
	font-size: 0.9em;
}
.iu_datepicker_hours li, .iu_datepicker_minutes li{
	cursor: pointer;
	padding: 2px 4px;
	margin: 0 1px;
}
.iu_datepicker_hours li:hover, .iu_datepicker_minutes li:hover{
	background-color: #666;
	color: white;
}
.iu_datepicker_hours .iu_datepicker_hour_selected, .iu_datepicker_minutes .iu_datepicker_minute_selected{
	background-color: green;
	color: white;
}
/* timepicker end */