/* iu.mselect.css */

.iu_mselect_system_select {
	display:inline-block;	
	position: relative;	
	border: 1px solid #ddd;
	font-weight: normal;
	color:#555555;
	cursor:default;
	height: 100%;
	line-height: 30px;
}

.iu_mselect_system_select option {
	height:	20px;
	line-height: 20px;
}

.iu_mselect_frame {
	position: relative;	
	display:inline-block;
}

.iu_mselect_button{
	border: 1px solid #ddd;
	background-color:#e2e2e2;
	font-weight: normal;
	color:#555555;
	padding:5px 5px 5px 10px;
	cursor:default;
	position: relative;
	text-align:left;
}

.iu_mselect_text {
	display:inline-block;	
	word-break: break-all;
	text-align: left;
}

.iu_mselect_triangle_down {
	border-style: solid;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top-width: 8px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-bottom-width: 0;
	display:inline-block;
	cursor: pointer;
	position:absolute;
	top: 40%;
	right: 8px;
}

.iu_mselect_triangle_up {
	border-style: solid;
	border-left-width: 6px;
	border-right-width: 6px;
	border-bottom-width: 8px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-top-width: 0;
	display:inline-block;
	cursor: pointer;
	position:absolute;
	top: 40%;
	right: 8px;
}

.iu_mselect_button:hover{
	border-color:#ddd;
	background-color:#d1d1d1;
	color: #212121;
}

.iu_mselect_select{
	padding:3px 8px;
	max-height:200px;
	border:1px solid #aaaaaa;
	display:none;
	overflow:auto;
	background-color: #fff;
	position:absolute;
	top: 100%;
	z-index: 20;
	text-align:left;
}

.iu_mselect_option{
	border: 1px solid transparent;
	padding: 3px;
	margin: 5px 0px;
	cursor:default;
}

.iu_mselect_option_selected {
	border-color: #ddd;
	background-color:#f2f2f8;
	padding: 3px;
	border-radius: 3px;
	margin: 5px 0px;
}

.iu_mselect_option_hover{
	border-color:#ddd;
	background-color:#a9c9e2;
	padding: 3px;
	margin: 5px 0px;
	border-radius: 3px;
}

.iu_mselect_selected .iu_mselect_select{
	display:block;
}

.iu_mselect_selected .iu_mselect_button{
	border-color:#999999;
	background-color:#fff;
	color: #555555;
}